@import 'Colors';

.footer {
  padding: 0.5px;
  background-color: $primarycolor;
  text-align: center;

  .h1 {
    color: rgb(251, 251, 251);
    text-align: center;
    font-weight: normal;
    font-size: x-large;
  }
}
