@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
$open-sans: 'Open Sans', sans-serif;
$fontfamily: $open-sans;
$primarycolor: #a94949;

html,
body {
 
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: $fontfamily;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

